.question {
    padding: auto;
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 3%;
    margin-top: 5%;
}

.alternative {
    display: flex;
    padding: 1%;
    align-items: center;
}

.alternatives {}

.letter {
    cursor: pointer;
    background-color: rgb(216 250 255 / 97%);
    border: 1px solid rgb(22 199 223 / 97%);
    border-radius: 10%;
    margin-right: 2%;
    font-size: larger;
}

.clickedLetter {
    cursor: pointer;
    background-color: rgb(22 199 223 / 97%);
    border: 1px solid rgb(22 199 223 / 97%);
    border-radius: 10%;
    margin-right: 2%;
    font-size: larger;
}

.statement {
    padding: 1%;
}