
.app {
  display: grid;
  grid-template-columns:auto;
  padding: 1%;
}

.buttons {
  background-color: rgb(255, 255, 255);
  align-items: center;
  display: flex;
  padding: 2%;
}

.open-exercises {
  background: rgb(149, 237, 249);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main-page {
  display:grid;
  padding: 15%;
  align-items: center;
}

.title {
  display:flex;
}
